:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  align-items: start;
  gap: 1em;
  min-height: 100dvh;
  padding: 50px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.converter {
  display: grid;
  gap: 2em;
  inline-size: clamp(300px, 80%, 550px);
}

ul {
  display: grid;
  gap: 0.8em;
}

.converter__files-list {
  font-weight: 800;
  list-style: none;

  & li::before {
    content: "👉 ";
  }
}

.converter__links-list {
  list-style: none;

  & li::before {
    content: "👍 ";
  }
}

.converter__links-item {
  display: flex;
  align-items: center;
  gap: 0.5em;

  & > audio {
    margin-inline-start: auto;
  }
}